a {
    display: block;
    padding: 15px 25px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #000000;
}

a:hover {
    text-decoration: underline;
}

.verde {
    background-color: #8bc34a;
    font-weight: bold;
    color: white;
}

.verde:hover {
    background-color: #70be16;
}

.gris {
    margin-inline: 2em;
    background-color: #bdbdbd;
    font-weight: bold;
    color: white;
}

.gris:hover {
    background-color: #949494;
}

.rojo {
    background-color: #f44336;
    font-weight: bold;
    color: white;
}

.rojo:hover {
    background-color: #f01303;
}

.botones a {
    margin-bottom: 0.25em;
    color: #000000;
}

.botones_principales a {
    width: 10.4em;
}


@media (max-width: 1055px) {
    .botones a {
        width: fit-content
    }
}