.campo {
    display: flex;
    text-align: end;
    align-items: top;
    padding: 0.25em;
}
.campo label {
    font-size: 0.8em;
    margin: 0.5em 0.5em;
    width: 20%;
}
.campo input {
    margin-block: 0.3em;
    flex: 0.95 1 auto;
    border: 2px solid #000000;
}
.sumario {
    min-height: 6em;
    flex: 0.95 1 auto;
    border: 2px solid #000000;
    resize: none;
}