.search-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.search {
    width: 50%;
    margin-bottom: 1em;
}

.dataFilteredSearch {
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;
    max-height: 35em;
    overflow-y: scroll;
    margin-bottom: 2em;
}

.dataFilteredSearch .normas {
    font-size: 1.5em;
    padding: 0.25em;
}

.normas input {
    margin-left: 1.5em;
}